{% extends 'base.html' %}
{% load static %}
{% block body %}
<style>
    a {
        text-decoration: none;
    }
    </style>
<div class="row tm-row">
    <div class="col-12">
        <form method="GET" class="form-inline tm-mb-80 tm-search-form"action="/search/"> 
            {% csrf_token %}
            <input class="form-control tm-search-input"  name="searched" type="text" placeholder="Search..."
                aria-label="Search">
            <button href="/search/" class="tm-search-button" type="submit" >
                <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
            </button>
        </form>
    </div>
</div>
<div class="row tm-row">
    {% for upf in posts %}
    <article class="col-12 col-md-6 tm-post">
        <hr class="tm-hr-primary">
        <a href="{% url 'comment_blogs' upf.slug %}" class="effect-lily tm-post-link tm-pt-60">
            <div class="tm-post-link-inner">
                <img src="/media/{{upf.image}}" alt="Image" class="card-img-top" height="250px">
            </div>
            <span class="position-absolute tm-new-badge">New</span>
            <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{ upf.title|truncatechars:30}}</h2>
        </a>
        <p class="tm-pt-30">
            {{upf.content|truncatechars:100}}
        </p>
        <div class="d-flex justify-content-between tm-pt-45">
            <span class="tm-color-primary">Travel . Events</span>
            <span class="tm-color-primary">{{upf.dateTime}}</span>
        </div>
        <hr>
        {% if user.is_superuser %}
        <div class="d-flex justify-content-between" style="margin-left: 40%;">
            <!-- <span>{{comments.count}}</span> -->
            <a href="/edit_blog/{{upf.slug}}"><button type="button" class="btn btn-outline-success"
                style="border-radius: 10px;">Update</button></a>
        <a href="{% url 'delete_blog_post' upf.id %}"><button type="button" class="btn btn-outline-danger"
                style="border-radius: 10px;">Delete</button></a>
        </div>
        {% endif %}
    </article>
    {% endfor %}
</div>
<div class="row tm-row tm-mt-100 tm-mb-75">
    <div class="tm-prev-next-wrapper">
        <a href="#" class="mb-2 tm-btn tm-btn-primary tm-prev-next disabled tm-mr-20">Prev</a>
        <a href="#" class="mb-2 tm-btn tm-btn-primary tm-prev-next">Next</a>
    </div>
    <div class="tm-paging-wrapper">
        <span class="d-inline-block mr-3">Page</span>
        <nav class="tm-paging-nav d-inline-block">
            <ul>
                <li class="tm-paging-item active">
                    <a href="#" class="mb-2 tm-btn tm-paging-link">1</a>
                </li>
                <li class="tm-paging-item">
                    <a href="#" class="mb-2 tm-btn tm-paging-link">2</a>
                </li>
                <li class="tm-paging-item">
                    <a href="#" class="mb-2 tm-btn tm-paging-link">3</a>
                </li>
                <li class="tm-paging-item">
                    <a href="#" class="mb-2 tm-btn tm-paging-link">4</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<style>
    .button0 {
        background-color: #e71140;
        border: none;
        color: white;
        padding: 6px 27px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 25px;
    }

    .button1 {
        background-color: #bcda4d;
        border: none;
        color: white;
        padding: 6px 27px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 25px;
    }

    .button2 {
        background-color: #3ad9ce;
        border: none;
        color: white;
        padding: 6px 27px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 25px;
    }
</style>
{% endblock %}