{% extends 'base.html' %}
{% block body %}    
<form enctype="multipart/form-data" method="POST"> {% csrf_token %}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bạn có muốn xóa comment này hay không??</h5>
          <form action="/delete_comment/{{delete_comment.slug}}/" method="POST">				
            {% csrf_token %}
          <a href="/" class="btn btn-success">Cancel</a>
          <button class="btn btn-danger">Delete</button>
        </div>
      </div>
</div>
</form>
{% endblock %}



